html {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
}

p {
    line-height: 28px;
    font-size: 1.2rem;
}

.top-container {
    background-color: #711ADF;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 70vh;
}

/* Navigation Bar */
.nav-wrapper {
    background-color: #711ADF;
    background-size: cover;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 10vh;
    box-shadow: #000 0px 0px 10px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
    font-weight: 00;
}

.nav-container a {
    color: #F3F1F6;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0px 10px;
}

.navbar li a:hover {
    color: #b2b2b3;
    border-bottom: 4px solid #000;
}

.nav-active {
    color: #b2b2b3;
    border-bottom: 4px solid #D7C2F6;
}

.header-container {
    background-color: #711ADF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    height: 50vh;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F3F1F6;
    margin: 0;
    padding: 0;
}

.header-title {
    font-size: 5rem;
    margin: 0;
    padding: 0;
}

.header-subtitle {
    font-size: 2rem;
    margin-top: 3rem;
    padding: 0;
}

.content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Add margin-bottom to create space between content sections */
}

.part1 {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    padding: 0;
    width: 60%;
}

/* .checklist {
    padding-top: 3rem;
} */

/* Accordion */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.5rem;
    font-weight: bold;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 10px;
    /* Add margin-bottom to create space between panels */
}

.video-wrapper {
        display: flex;
        justify-content: center;
        /* Align the video horizontally in the center */
        padding-top: 0.5rem;
}

.bold-text{
    font-weight: 900;
    font-size: medium;
}

/* Panel */
.panel ul {
    list-style-type: none;
    padding: 0;
}

.panel li {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 600;
}

.bullet-subtext{
    font-size: 1.2rem;
    font-weight: 400;
    padding-left: 3rem;
}

code {
    background-color: #f1f1f1;
    display: block;
    padding: 10px;
    border-radius: 4px;
    font-family: monospace;
}

.in-text-link {
    color: rgb(80, 80, 80);
}

.part2-list{
    padding-bottom: 1rem;
}

.resources-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

/* Custom checkbox */
/* Hide the browser's default checkbox */
.check-container {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.5rem;
    color:#711ADF;
    font-weight: 900;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.check-container:hover .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked+.checkmark {
    background-color: #711ADF;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check-container input:checked+.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
    content: "";
    position: absolute;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* For Images */
.image-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.image-wrapper img {
    display: flex;
    width: 100%;
    height: auto;
}

.image-wrapper .subtext {
    margin: auto;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    color: #707070;
    font-size: 14px;
    text-align: center;
}

.subtext a {
    color: #707070;
}

.panel-list{
    list-style-type: disc !important;
    padding-left: 5rem !important;
}

/* for the resources section */
.resources-content li{
    margin-bottom: 1rem;
}

.resources-content h2{
    color: #711ADF;
}

/* for the color filter emulator */
.color-filter-emulator{
    width: 100%;
    height: 100%;
}

.emulator-wrapper{
    height: 50vh;
}

.paragraph-part{
    padding-top: 1.2rem;
}